// |------------------------------------------------------
// |------------------------------------------------------
// | Background Size
// | Usage: @include background-size($x $y);
// |------------------------------------------------------
// |------------------------------------------------------

@mixin background-size($value) {
    -webkit-background-size: $value;
       -moz-background-size: $value;
    	 -o-background-size: $value;
    		background-size: $value;
}