// |------------------------------------------------------
// |------------------------------------------------------
// | Backface Visibility
// | Usage: @include backface-visibility(none);
// |------------------------------------------------------
// |------------------------------------------------------

@mixin backface-visibility($value){
    -webkit-backface-visibility: $value;
    		backface-visibility: $value;
}