// |------------------------------------------------------
// |------------------------------------------------------
// | Ellipsys
// | Usage: @include truncate(200px);
// |------------------------------------------------------
// |------------------------------------------------------

@mixin truncate($value){
	max-width: $value;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}